{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Вы действительно хотите выйти? </h3>
                    <p class="text-light"> &nbsp
                    </p>
                    <div class="row">
                    <div class="column">
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Выйти</button>
                        </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</header>
    </form>
{% else %}
    <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Вы не авторизованы желаете войти? </h3>
                    <p class="text-light"> &nbsp
                    <br>
					<div class="row">
						<div class="column">
							<a href="{% url 'login' %}"
                            class="btn btn-danger">Ввойти</a>
                    <br>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</header>
{% endif %}
{% endblock %}
