{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Тестовый Проект</h5>
    <div class="card-body">
        <p class="card-text"> Проект выполнял:
            <br>Толстопятов А.В.</p>
        <a href="https://github.com/ClasterPack"
           class="btn btn-danger">Git</a>
        <a href="https://novosibirsk.hh.ru/resume/65ee8619ff098ecd770039ed1f744851364c42"
           class="btn btn-danger">HeadHunter</a>
    </div>
</div>
</div>

{% endblock sidebar %}
